<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <app-tarjetas></app-tarjetas>



  <ion-list class="ion-margin-bottom">
    
    <ion-item lines="none">
      <ion-label>Paymnt Summary</ion-label>
    </ion-item>

    <ion-item lines="none"
              *ngFor="let detalle of detalles">
      <ion-label> {{ detalle.desc }} </ion-label>
      <ion-label slot="end" class="ion-text-right"> {{ detalle.monto | currency }} </ion-label>
    </ion-item>

    <ion-item></ion-item>

    <ion-item lines="none"
              *ngIf="mostrarCupon">
      <ion-label>Coupon Discount</ion-label>
      <ion-button (click)="descuento()" fill="clear">
        <strong class="font-x2">Apply</strong>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-right">
        Grand Total - <strong> {{ grandTotal | currency }} </strong>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-button expand="block"
              class="ion-padding-horizontal">
    Pay {{ grandTotal | currency }}
  </ion-button>


</ion-content>
